<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="box">


        <h1><%= listTitle %></h1>

        <div class="box1">
         <form action="/delete" method="post">
            <ul>

                <% newListItem.forEach(function(item) { %>
                    <% if(item){ %>
                     <li> <input onchange="this.form.submit()" value="<%= item._id %>" type="checkbox" name="id" ><p><%= item.text %></p></li>
                     <% } %>
                <% }) %>
            </ul>
         </form>   
        
            <form action="<%= act %>" method="post">
               
                <input type="text" name="newItem" placeholder="New item">
                <button type="submit" name="Button" >+</button>
        
            </form>

        </div>

    
    </div>

   
    
   
</body>
</html>