<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="box">


        <h1><%= listTitle %></h1>

        <div class="box1">
         
            <ul>
     

                <% for(var i=0;i < newListItem.length ;i++){ %>
                   
                   <% if(newListItem[i]){ %>

                        <li> <input type="checkbox" name="checkbox" ><p><%= newListItem[i] %></p></li>
                   <% } %>
                   
                   
                   
                <% } %>
        
        
            </ul>
        
            <form action="<%= act %>" method="post">
               
                <input type="text" name="newItem" placeholder="New item">
                <button type="submit" name="Button" >+</button>
        
            </form>

        </div>

    
    </div>

   
    
   
</body>
</html>